.container {
    display: block;
    max-width: 1280px;
    min-width: 600px;
    margin: 0 auto;
  }

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}